body {
  font-family: Baskerville,"Baskerville Old Face","Hoefler Text",Garamond,"Times New Roman",serif;
  background-image: url('sayagata-400px');
}

.products-index img {
  width: 100%;
  height: 300px;
}
